<div id="<%= dom_id group %>">
  <p>
    <div class="group">
      <h3><%= group.name %></h3>
      <p><%= group.icon %></p>
      <p><%= group.created_at %></p>
      <p>Total amount: <%= @group_totals && @group_totals[group.id] || 0 %></p>

    </div>
  </p>

</div>
