<p style="color: green"><%= notice %></p>

<%= render @account %>

<div>
<h1>Account show</h1>
  <%= link_to "Edit this account", edit_account_path(@account) %> |
  <%= link_to "Back to accounts", accounts_path %>

  <%= button_to "Destroy this account", @account, method: :delete %>
</div>
